<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Blog{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% endblock stylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header" >
            <h2 class="container"><a href="{{ path('blog_homepage') }}">Blog</a> | {% block item %}{% endblock %} </h2>
        <div>
            
        <div id ="navbar">
            {% include 'BlogBundle::navbar.html.twig' %}
        </div>

        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
